.App {
  text-align: center;
  background: linear-gradient(-210deg, #371ba6,#621a60);
  min-height: 100vh;
  display: grid;
  grid-template-columns: repeat(auto-fit,minmax(260px, 1fr));
  grid-template-rows: auto;
  grid-gap: 50px;
  align-items: center;
  overflow-x: hidden;
  padding: 20px 100px;
  justify-content: center;
}

.laser {
  background: radial-gradient(#54b9d2,#4a5293);
  background-size: 200% 200%;
  background-position: -100% center;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px 0;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
  box-sizing: border-box;
}

.pencil {
  background: linear-gradient(-210deg, #542774, #3c1a62);
  min-height: 100vh;
  background-size: 200% 200%;
  background-position: -100% center;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px 0;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
  box-sizing: border-box;
}

@media (max-width: 970px)  {
  .App {
    grid-gap: 30px;
    padding: 20px 20px;
  }
}

@media (max-width: 300px)  {
  .App {
    text-align: center;
    background: linear-gradient(-210deg, #867caf,#621a61);
    min-height: 100vh;
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(160px, 1fr));
    grid-template-rows: auto;
    grid-gap: 30px;
    padding: 20px 10px;
  }
}
